<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/css/reg.css">
</head>
<body>
    <div id="okno_reg">
        <h1>Регистрация</h1>
        <input type="text" name="" id="input_login" placeholder="Введите логин">
        <input type="text" name="" id="input_name" placeholder="Введите имя">
        <input type="text" name="" id="input_surname" placeholder="Введите фамилию">
        <input type="password" name="" id="input_password1" placeholder="Введите пароль">
        <input type="password" name="" id="input_password2" placeholder="Повторите пароль">
        <button id="btn_reg">Зарегистроваться</button>
    </div>
    <script src="/static/js/reg.js"></script>
</body>
</html>